<%- include('./partials/head.ejs') -%>

<%- include('./partials/nav.ejs') -%>

<h3>Aanbod overzicht</h3>

<section class="initiatief-algemeen">
    <ul class="card-list">
        <% initiatiefAanbod.forEach(aanbod => {
            { %>
            <li class="card">
                <a href="/detail/<%=aanbod.id%>">
               <h4> <%=aanbod.title%> </h4>
               <% if (aanbod.image) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= aanbod.image %>"
    
                alt="<%- aanbod.title %>">
                <!-- onerror; https://github.com/users/SamaraFellaDina/projects/7/views/2?pane=issue&itemId=53408192 -->
            <% } %>     
                </a>           
            </li>
        <% }
        }) %>
    </ul>
</section>

<%- include('./partials/foot.ejs') -%>