<%- include('./partials/head.ejs') -%>

<%- include('./partials/nav.ejs') -%>

<section class="initiatief">
    <article>
        <h4> <%= initiatief.title %></h4>
        <% if (initiatief.start_date) { %>
            <p>Startdatum: <%= initiatief.start_date %></p>
        <% }   %>

        <% if (initiatief.end_date) { %>
            <p>Einddatum: <%= initiatief.end_date %></p>
        <% } %>
        
        <% if (initiatief.neighbourhood) { %>
            <p>Buurt: <%= initiatief.neighbourhood.replace(/_/g, " ").split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></p>        <% } %>

        <% if (initiatief.time) { %>
            <p>Tijd: <%= initiatief.time %></p>
        <% } %>

        <!-- hij pakt de class .over-initiatief-tekst niet, met een divje werkt het wel geen p'tje !!!! -->
        <div class="over-initiatief-tekst"> <%- initiatief.long_description %> </div>

    </article>
        <% if (initiatief.image) { %>
            <img src="https://fdnd-agency.directus.app/assets/<%= initiatief.image %>"

            alt="<%- initiatief.title %>">
        <% } %>

</section>

<section class="contact">
        <img src="images/profilepicture.webp" alt="profilepicture">
    <article>
        <p>Naam: <span> kiwitaart </span></p>
        <p>E-mail: <span> kiwitaart@gmail.com </span></p>
    </article>
</section>

<section class="related-content">
    <h4>Gerelateerde content</h4>
    <ul>
        <% relatedContent.forEach(related => {
            { %>
            <li>
                <a href="/detail/<%=related.id%>">
                <p><%=related.title%></p>
                <% if (related.image) { %>
                    <img src="https://fdnd-agency.directus.app/assets/<%= related.image %>" alt="<%- related.title %>">
                    <!-- onerror; https://github.com/users/SamaraFellaDina/projects/7/views/2?pane=issue&itemId=53408192 -->
                    <p>Meer informatie</p>          
                </a> 
            </li>
           <% } %>     
        <% }
        }) %>
    </ul>
</section>


<%- include('./partials/foot.ejs') -%>